@page
@model Admission.FrontEnd.Pages.HospitalsModel;
@{
}

<h1>Hospitals</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Total Patients</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Hospital in Model.Hospitals)
        {
            <tr>
                <td>@Html.DisplayFor(mi => Hospital.Name)</td>
                <td>@Html.DisplayFor(mi => Hospital.Patients.Count)</td>
            </tr>
        }
    </tbody>
</table>